<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
        Это страничка с описанием работы тестового сервиса
    </h1>
    <div>
        <h2>Сервис общается при помощи 2х методов</h2>
        <div>1. GET - "/" вернет эту страничку </div>
        <div>2. POST - "/numtotext" с body JSON { "number" : 10000 } вернет ответ в виде JSON в данном примере { "str" : "десять тысяч" }</div>
    </div>
</body>
</html>